USE [food_delivery_db10]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[price] [numeric](38, 2) NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[cart_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chats]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[buyer_id] [int] NOT NULL,
	[seller_id] [int] NULL,
	[is_bot] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveries]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[shipper_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[tracking_code] [nvarchar](100) NULL,
	[delivered_at] [datetime2](7) NULL,
	[failure_reason] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_addresses]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[address_name] [nvarchar](100) NOT NULL,
	[full_address] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[is_default] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_zones]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_zones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shop_id] [int] NOT NULL,
	[zone_name] [nvarchar](100) NOT NULL,
	[delivery_fee] [decimal](10, 2) NOT NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[estimated_time] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chat_id] [int] NOT NULL,
	[sender_id] [int] NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_bot] [bit] NULL,
	[timestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[title] [nvarchar](255) NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_history]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[order_id] [int] NOT NULL,
	[status_from] [varchar](255) NULL,
	[status_to] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [numeric](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status_history]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NOT NULL,
	[shop_id] [int] NOT NULL,
	[delivery_address_id] [int] NOT NULL,
	[total_amount] [numeric](19, 4) NULL,
	[status] [nvarchar](20) NULL,
	[voucher_id] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[recipient_name] [nvarchar](100) NULL,
	[recipient_phone] [nvarchar](20) NULL,
	[address_text] [nvarchar](max) NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[created_at] [datetime2](7) NULL,
	[order_code] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[accepted_at] [datetime2](6) NULL,
	[assigned_at] [datetime2](6) NULL,
	[assigned_seller_id] [int] NULL,
	[assigned_shipper_id] [int] NULL,
	[assignment_status] [varchar](255) NULL,
	[delivery_fee] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_method_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[transaction_id] [nvarchar](255) NULL,
	[payment_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shop_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [float] NULL,
	[is_available] [bit] NULL,
	[image_url] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[image_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippers]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[delivery_area] [varchar](255) NULL,
	[is_available] [bit] NULL,
	[license_plate] [varchar](255) NULL,
	[rating] [float] NULL,
	[total_deliveries] [int] NULL,
	[total_earnings] [float] NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[vehicle_type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shop_reviews]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shop_reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[shop_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shops]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](max) NOT NULL,
	[opening_hours] [nvarchar](255) NULL,
	[rating] [float] NULL,
	[created_at] [datetime2](7) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vouchers]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[claimed_at] [datetime2](6) NOT NULL,
	[is_used] [bit] NOT NULL,
	[order_id] [int] NULL,
	[used_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](max) NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_verified] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[otp_code] [varchar](255) NULL,
	[otp_expiry] [datetime2](6) NULL,
	[profile_image] [varchar](255) NULL,
	[reset_token] [varchar](255) NULL,
	[reset_token_expiry] [datetime2](6) NULL,
	[verification_token] [varchar](255) NULL,
	[verification_token_expiry] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 05/11/2025 1:48:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[discount_value] [numeric](10, 2) NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[expiry_date] [date] NOT NULL,
	[max_uses] [int] NULL,
	[used_count] [int] NULL,
	[is_active] [bit] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [created_at], [price], [product_id], [quantity], [cart_id]) VALUES (1, CAST(N'2025-10-25T10:20:36.1729160' AS DateTime2), CAST(150000.00 AS Numeric(38, 2)), 30, 2, 1)
INSERT [dbo].[cart_items] ([id], [created_at], [price], [product_id], [quantity], [cart_id]) VALUES (2, CAST(N'2025-10-25T12:19:04.9901400' AS DateTime2), CAST(35000.00 AS Numeric(38, 2)), 1, 3004, 1)
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [created_at], [updated_at], [user_id]) VALUES (1, CAST(N'2025-10-25T10:20:36.0651240' AS DateTime2), CAST(N'2025-10-25T12:25:50.2579580' AS DateTime2), 19)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [created_at]) VALUES (1, N'Phở', N'Các món phở truyền thống Việt Nam', CAST(N'2025-10-19T21:48:02.7200000' AS DateTime2))
INSERT [dbo].[categories] ([id], [name], [description], [created_at]) VALUES (2, N'Bánh Mì', N'Bánh mì và sandwich Việt Nam', CAST(N'2025-10-19T21:48:02.7200000' AS DateTime2))
INSERT [dbo].[categories] ([id], [name], [description], [created_at]) VALUES (3, N'Cơm', N'Các món cơm Việt Nam', CAST(N'2025-10-19T21:48:02.7200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[delivery_addresses] ON 

INSERT [dbo].[delivery_addresses] ([id], [user_id], [address_name], [full_address], [phone], [is_default], [created_at]) VALUES (1, 9, N'Nhà riêng', N'123 Đường Láng, Hà Nội', N'0490659980', 1, CAST(N'2025-10-19T21:47:58.3933333' AS DateTime2))
INSERT [dbo].[delivery_addresses] ([id], [user_id], [address_name], [full_address], [phone], [is_default], [created_at]) VALUES (2, 10, N'Văn phòng', N'456 Nguyễn Huệ, TP.HCM', N'0492142740', 1, CAST(N'2025-10-19T21:47:58.3933333' AS DateTime2))
INSERT [dbo].[delivery_addresses] ([id], [user_id], [address_name], [full_address], [phone], [is_default], [created_at]) VALUES (3, 20, N'Home', N'15 Lê Duẩn, Hải Châu, Đà Nẵng', N'0123456789', 1, CAST(N'2025-10-28T23:47:10.8100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[delivery_addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[delivery_zones] ON 

INSERT [dbo].[delivery_zones] ([id], [shop_id], [zone_name], [delivery_fee], [min_order_value], [estimated_time], [is_active], [created_at]) VALUES (5, 7, N'Hải Châu', CAST(15000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), 20, 1, CAST(N'2025-10-28T23:01:09.6133333' AS DateTime2))
INSERT [dbo].[delivery_zones] ([id], [shop_id], [zone_name], [delivery_fee], [min_order_value], [estimated_time], [is_active], [created_at]) VALUES (6, 7, N'Thanh Khê', CAST(20000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), 25, 1, CAST(N'2025-10-28T23:01:09.6133333' AS DateTime2))
INSERT [dbo].[delivery_zones] ([id], [shop_id], [zone_name], [delivery_fee], [min_order_value], [estimated_time], [is_active], [created_at]) VALUES (7, 7, N'Sơn Trà', CAST(20000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), 25, 1, CAST(N'2025-10-28T23:01:09.6133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[delivery_zones] OFF
GO
SET IDENTITY_INSERT [dbo].[favorites] ON 

INSERT [dbo].[favorites] ([id], [user_id], [product_id], [created_at]) VALUES (1, 17, 1, CAST(N'2025-11-01T18:08:31.8769854' AS DateTime2))
INSERT [dbo].[favorites] ([id], [user_id], [product_id], [created_at]) VALUES (2, 17, 2, CAST(N'2025-11-01T18:11:58.9788602' AS DateTime2))
INSERT [dbo].[favorites] ([id], [user_id], [product_id], [created_at]) VALUES (3, 17, 5, CAST(N'2025-11-01T18:12:26.7603857' AS DateTime2))
SET IDENTITY_INSERT [dbo].[favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[order_history] ON 

INSERT [dbo].[order_history] ([id], [action], [created_at], [created_by], [description], [order_id], [status_from], [status_to]) VALUES (1, N'order_created', CAST(N'2025-10-20T19:44:25.6419220' AS DateTime2), N'system', N'Order was created with PayOS order code: 950864', 1, NULL, N'pending')
INSERT [dbo].[order_history] ([id], [action], [created_at], [created_by], [description], [order_id], [status_from], [status_to]) VALUES (2, N'order_created', CAST(N'2025-10-20T21:00:09.3980900' AS DateTime2), N'system', N'Order was created with PayOS order code: 901805', 2, NULL, N'pending')
INSERT [dbo].[order_history] ([id], [action], [created_at], [created_by], [description], [order_id], [status_from], [status_to]) VALUES (3, N'order_created', CAST(N'2025-10-20T21:18:36.2457550' AS DateTime2), N'system', N'Order was created with PayOS order code: 127925', 3, NULL, N'pending')
SET IDENTITY_INSERT [dbo].[order_history] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (1, 1, 1, 1, CAST(5.0000 AS Numeric(19, 4)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (2, 1, 2, 1, CAST(5.0000 AS Numeric(19, 4)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (3, 2, 2, 1, CAST(5.0000 AS Numeric(19, 4)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_status_history] ON 

INSERT [dbo].[order_status_history] ([id], [order_id], [status], [notes], [changed_by], [created_at]) VALUES (1, 9, N'assigned', NULL, 13, CAST(N'2025-11-05T11:34:35.6748039' AS DateTime2))
INSERT [dbo].[order_status_history] ([id], [order_id], [status], [notes], [changed_by], [created_at]) VALUES (2, 10, N'assigned', NULL, 13, CAST(N'2025-11-05T11:34:44.1915681' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order_status_history] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [buyer_id], [shop_id], [delivery_address_id], [total_amount], [status], [voucher_id], [notes], [recipient_name], [recipient_phone], [address_text], [latitude], [longitude], [created_at], [order_code], [updated_at], [accepted_at], [assigned_at], [assigned_seller_id], [assigned_shipper_id], [assignment_status], [delivery_fee]) VALUES (1, 1, 1, 1, CAST(15010.0000 AS Numeric(19, 4)), N'pending', NULL, N'PayOS:950864 | Payment Method: PayOS', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-20T19:44:25.6031586' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, 25000)
INSERT [dbo].[orders] ([id], [buyer_id], [shop_id], [delivery_address_id], [total_amount], [status], [voucher_id], [notes], [recipient_name], [recipient_phone], [address_text], [latitude], [longitude], [created_at], [order_code], [updated_at], [accepted_at], [assigned_at], [assigned_seller_id], [assigned_shipper_id], [assignment_status], [delivery_fee]) VALUES (2, 1, 1, 1, CAST(15005.0000 AS Numeric(19, 4)), N'pending', NULL, N'PayOS:901805 | Payment Method: PayOS', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-20T21:00:09.3071266' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, 25000)
INSERT [dbo].[orders] ([id], [buyer_id], [shop_id], [delivery_address_id], [total_amount], [status], [voucher_id], [notes], [recipient_name], [recipient_phone], [address_text], [latitude], [longitude], [created_at], [order_code], [updated_at], [accepted_at], [assigned_at], [assigned_seller_id], [assigned_shipper_id], [assignment_status], [delivery_fee]) VALUES (3, 1, 1, 1, CAST(15003.0000 AS Numeric(19, 4)), N'pending', NULL, N'PayOS:127925 | Payment Method: PayOS', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-20T21:18:36.1581165' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, 25000)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([id], [name], [description], [is_active], [created_at]) VALUES (1, N'Tiền mặt', N'Thanh toán khi nhận hàng', 1, CAST(N'2025-10-19T21:48:23.4200000' AS DateTime2))
INSERT [dbo].[payment_methods] ([id], [name], [description], [is_active], [created_at]) VALUES (2, N'Thẻ tín dụng', N'Thanh toán bằng thẻ tín dụng', 1, CAST(N'2025-10-19T21:48:23.4200000' AS DateTime2))
INSERT [dbo].[payment_methods] ([id], [name], [description], [is_active], [created_at]) VALUES (3, N'Chuyển khoản', N'Chuyển khoản ngân hàng', 1, CAST(N'2025-10-19T21:48:23.4200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [shop_id], [category_id], [name], [description], [price], [is_available], [image_url], [status], [created_at], [updated_at]) VALUES (1, 1, 1, N'Phở Bò', N'Phở bò nóng hổi, thơm ngon, giao hàng tận nơi', 35000, 1, N'http://localhost:8080/uploads/product-images/108e4ac9-afa1-41d9-bfa3-21a87f48231d.png', N'active', CAST(N'2025-10-19T21:48:19.9600000' AS DateTime2), CAST(N'2025-10-21T09:08:16.2966667' AS DateTime2))
INSERT [dbo].[products] ([id], [shop_id], [category_id], [name], [description], [price], [is_available], [image_url], [status], [created_at], [updated_at]) VALUES (2, 1, 1, N'Phở Gà', N'Phở gà thơm ngon, nước dùng đậm đà, giao hàng nóng', 40000, 1, N'http://localhost:8080/uploads/product-images/853f1d3f-9620-44ee-b400-69a7423ae9f9.png', N'active', CAST(N'2025-10-19T21:48:19.9600000' AS DateTime2), CAST(N'2025-10-21T09:08:31.3166667' AS DateTime2))
INSERT [dbo].[products] ([id], [shop_id], [category_id], [name], [description], [price], [is_available], [image_url], [status], [created_at], [updated_at]) VALUES (3, 1, 1, N'Bánh Mì Thịt', N'Bánh mì thịt nướng thơm ngon, rau tươi, giao hàng nhanh', 45000, 1, N'http://localhost:8080/uploads/product-images/ea11bcc5-f9e0-47d8-bca8-b7c651f23f95.png', N'active', CAST(N'2025-10-19T21:48:19.9600000' AS DateTime2), CAST(N'2025-10-21T09:08:35.5000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[shippers] ON 

INSERT [dbo].[shippers] ([id], [created_at], [delivery_area], [is_available], [license_plate], [rating], [total_deliveries], [total_earnings], [updated_at], [user_id], [vehicle_type]) VALUES (1, NULL, N'Ho Chi Minh City', 1, N'ABC123', 5, 0, 0, NULL, 13, N'Motorcycle')
SET IDENTITY_INSERT [dbo].[shippers] OFF
GO
SET IDENTITY_INSERT [dbo].[shops] ON 

INSERT [dbo].[shops] ([id], [seller_id], [name], [description], [address], [opening_hours], [rating], [created_at], [latitude], [longitude]) VALUES (1, 2, N'Phở Delicious', N'Phở truyền thống Hà Nội ngon nhất', N'123 Đường Láng, Hà Nội', N'6:00-22:00', 4.5, CAST(N'2025-10-19T21:48:06.0066667' AS DateTime2), NULL, NULL)
INSERT [dbo].[shops] ([id], [seller_id], [name], [description], [address], [opening_hours], [rating], [created_at], [latitude], [longitude]) VALUES (2, 3, N'Bánh Mì King', N'Bánh mì ngon nhất thành phố', N'456 Nguyễn Huệ, TP.HCM', N'6:30-21:30', 4.3, CAST(N'2025-10-19T21:48:06.0066667' AS DateTime2), NULL, NULL)
INSERT [dbo].[shops] ([id], [seller_id], [name], [description], [address], [opening_hours], [rating], [created_at], [latitude], [longitude]) VALUES (3, 4, N'Mì Quảng 123', N'Mì Quảng đặc sản Quảng Nam', N'789 Lê Lợi, Đà Nẵng', N'7:00-22:00', 4.7, CAST(N'2025-10-19T21:48:06.0066667' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[shops] OFF
GO
SET IDENTITY_INSERT [dbo].[user_vouchers] ON 

INSERT [dbo].[user_vouchers] ([id], [claimed_at], [is_used], [order_id], [used_at], [user_id], [voucher_id]) VALUES (1, CAST(N'2025-10-20T19:39:26.9520400' AS DateTime2), 0, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[user_vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [expiry_date], [max_uses], [used_count], [is_active], [created_by], [created_at]) VALUES (1, N'GIAM10', N'percentage', CAST(10.00 AS Numeric(10, 2)), CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), 100, 0, 1, 1, CAST(N'2025-10-19T21:48:26.7833333' AS DateTime2))
INSERT [dbo].[vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [expiry_date], [max_uses], [used_count], [is_active], [created_by], [created_at]) VALUES (2, N'GIAM20', N'percentage', CAST(20.00 AS Numeric(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), 50, 0, 1, 1, CAST(N'2025-10-19T21:48:26.7833333' AS DateTime2))
INSERT [dbo].[vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [expiry_date], [max_uses], [used_count], [is_active], [created_by], [created_at]) VALUES (3, N'GIAM50K', N'fixed', CAST(50000.00 AS Numeric(10, 2)), CAST(200000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), 20, 0, 1, 1, CAST(N'2025-10-19T21:48:26.7833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
/****** Object:  Index [UQ__deliveri__46596228A710DCA8]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[deliveries] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKgh1s14hhb9qb8p2do933hscsf]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UKgh1s14hhb9qb8p2do933hscsf] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_fav_user_product]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UQ_fav_user_product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__shops__780A0A965F655B3A]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[shops] ADD UNIQUE NONCLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164068AFE89]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vouchers__357D4CF92EA5294B]    Script Date: 05/11/2025 1:48:13 CH ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chats] ADD  DEFAULT ((0)) FOR [is_bot]
GO
ALTER TABLE [dbo].[chats] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT ('assigned') FOR [status]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[delivery_addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[delivery_addresses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[delivery_zones] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[delivery_zones] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[delivery_zones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[favorites] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_bot]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_status_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shop_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shops] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('buyer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (NULL) FOR [max_uses]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c]
GO
ALTER TABLE [dbo].[chats]  WITH CHECK ADD FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chats]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chats]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD FOREIGN KEY([shipper_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[delivery_addresses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[delivery_zones]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_fav_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_fav_product]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_fav_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_fav_user]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([chat_id])
REFERENCES [dbo].[chats] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([delivery_address_id])
REFERENCES [dbo].[delivery_addresses] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[shippers]  WITH CHECK ADD  CONSTRAINT [FK3aekq9ie8kebm7202pyqlsoqs] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[shippers] CHECK CONSTRAINT [FK3aekq9ie8kebm7202pyqlsoqs]
GO
ALTER TABLE [dbo].[shop_reviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[shop_reviews]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shop_reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_vouchers]  WITH CHECK ADD  CONSTRAINT [FK40ig7khk2v79rbqaj98mf1g2q] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
GO
ALTER TABLE [dbo].[user_vouchers] CHECK CONSTRAINT [FK40ig7khk2v79rbqaj98mf1g2q]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='delivered' OR [status]='in_transit' OR [status]='picked_up' OR [status]='assigned'))
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([type]='admin_message' OR [type]='promotion' OR [type]='order_update'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='delivered' OR [status]='shipping' OR [status]='preparing' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='cancelled' OR [status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='out_of_stock' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[shop_reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='shipper' OR [role]='admin' OR [role]='seller' OR [role]='buyer'))
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD CHECK  (([discount_type]='fixed' OR [discount_type]='percentage'))
GO
